#nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00a087;
  color:  #fff;
  padding: 0 2em;
  height: 80px;
  z-index: 1;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

#nav-bar .logo {
  width: 60px;
  height: 60px;

}

#nav-bar .header {
  font-family: 'Chela One', cursive;
  letter-spacing: 1px;
  font-size: 2.5em;
}

#nav-bar .nav-left {
  width: 120px;
  padding-bottom: 25px;
}

#nav-bar .nav-center {
  margin: 0;
}

#nav-bar .nav-right {
  width: 120px;
  padding-bottom: 25px;
}

#nav-bar .nav-right .compose {
  background-color: #00ACEE;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #0075a2;
  padding: 0.5em 1em;
}

#nav-bar .nav-right .compose:hover {
  background-color: #0075a2;
  border: 1px solid #00445f;
}

#nav-bar .nav-right .compose:focus, #nav-bar .nav-right .compose:active {
  outline: none
}

@media (max-width: 600px) {
  #nav-bar {
    padding: 0 1em;
  }
}
