section.new-tweet {
  background-color: #fff;
  margin: 0 0 1em;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.new-tweet h2 {
  margin-top: 0;
  margin-bottom: 0.3em
}

.new-tweet textarea {
  width: 100%;
  padding: 10px 5px;
  margin: 0 0 5px 0;
  resize: none;
}

.new-tweet .error-msg {
  font-size: 0.8em;
  line-height: 0.9em;
  margin-left: 0.5em;
}

span.counter {
  float: right;
  line-height: 1em;
  padding-right: 5px;
  font-size: 0.9em;
}

.submit-btn {
  border-width: 0;
  outline: none;
  border-radius: 3px;
  background-color: #d56969;
  color: #ecf0f1;
  transition: background-color .2s;
  font-size: 0.9em;
  padding: 0.8em 1.5em;
  cursor: pointer;
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #bf5f5e;
}

.error {
  color: #f52578;
}
